.container {
  padding: 0;
}

.main {
  min-height: 50rem;
  margin: 1rem
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
  align-items: center;
}
.header h3{
  margin: 1rem
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.conButton{
  margin: 0.5rem;
  padding: 1rem;
  border: solid;
  border-radius: 30px;
  background-color: rgba(245, 245, 220, 0);
  width: 9,7rem;
  max-width: 9,7rem;
  height: 4,5rem;
  max-height: 4,5rem;

  display:inline-block;
}

.conButton:hover{
  margin: 0.5rem;
  padding: 1rem;
  border: solid;
  border-radius: 30px;
  width: 9,7rem;
  max-width: 9,7rem;
  height: 4,5rem;
  max-height: 4,5rem;
  display:inline-block;
  background-color: rgb(212, 182, 72);
}

.conButtonAddress{
  margin: 0.5rem;
  padding: 1rem;
  border: solid;
  border-radius: 30px;
  background-color: rgba(245, 245, 220, 0);
  width: 9,7rem;
  max-width: 9,7rem;
  height: 4,5rem;
  max-height: 4,5rem;

  display:inline-block;
}


.issuerContainer{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.issuerForm{
  margin: 2rem;
  padding: 1.2rem;
  border-radius: 30px;
  min-width: 30rem;
  border: solid;
  background-color: rgb(212, 182, 72);
  display: flex;
  flex-direction: column;
}

.issuerForm button{
  margin: 0.5rem;
  height: 3rem;
  max-height: 3rem;
}

.formLabel{
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.issuerFormContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}